html{
background: ghostwhite;
max-width: 1060px;
margin: auto;
}

body{
background-color: bisque;    
}

 #main {
align-content: center;
 }

 #main h1{
     font-size: 50px;
    align-content: center;
     }
    
#img-div{

}

#image{
    
}

#tribute-info{
    
}

#{
    
}